{% extends 'base.html' %}

<!-- Content block -->
{% block content %}

    <title> {{ title }} </title>

    <div class="container">

        <h1>Home Page</h1>

    </div>

          <!-- partial:index.partial.html -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-2">Fluid jumbotron.</h1>
      <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
      <button class="btn btn-outline-danger">This is a Button</button>
    </div>
  </div>
   
  <!-- partial -->
        
   
        <main>
        <article> 
            <h1>Bootstrap Jumbotron Image Example </h1>
  <p>This page demonstrate Bootstrap jumbotron with image background. </p>
            
            
            
                 <div class="page-scroll"></div>
            </article>
        </main>

{% endblock %} 