
{% extends 'base.html'%}

{% block styles%}
    {{ super() }}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Rajdhani:wght@300;400&family=Sacramento&family=Staatliches&family=Tajawal:wght@200;300&family=Zen+Kurenaido&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">  
      
    
{% endblock %} 
{% block content %}
<div class="container-fluid welcome-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12 welcome">
                {% if current_user.is_authenticated%}
                <a id="start" class="btn btn-danger animated infinite flash" href="{{url_for('home.index')}}">See all Pitches</a>
                {% else %}
                <a id="start" class="btn btn-danger animated infinite flash" href="{{url_for('auth.login')}}">Sign In</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}