
{% block styles%}
{{ super() }}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Rajdhani:wght@300;400&family=Sacramento&family=Staatliches&family=Tajawal:wght@200;300&family=Zen+Kurenaido&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">  
  

{% endblock %}

<div class="navbar navbar-dark bg-success" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <ul>
                <a style="text-align: center; color: green;" class="navbar-brand" href="/pitches/new/"> Post Pitch </a>
                </ul>
            </div>
            <div class="navbar-nav">
                <a style="text-align: center; color: green;" class="navbar-brand" href="/"> Home </a>

            </div>

            <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              {% if current_user.is_authenticated %}
              <li style="color:green">{{current_user.username}}</li>
              <li><a style="color: green;"  href="{{url_for('auth.logout')}}">Sign out</a></li>
              {% else %}
              <li><a style="color: green;" href="{{url_for('auth.login')}}">Sign in</a></li>
              {%endif%}
            </ul>
          </div>


          <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li style="color:whitesmoke"></li>
                <li><a style="color: whitesmoke;"  href="{{url_for('auth.logout')}}"></a></li>
                <li><a style="color: whitesmoke;" href="{{url_for('auth.login')}}"></a></li>
              </ul>
            </div>
          
    </div>
    </div>
